---
import Layout from "../layouts/layout.astro";
import Avatar from "../components/Avatar.astro";
import Projects from "../components/Projects.astro";
import Blogs from "../components/Blogs.astro";
import { project_data } from "../lib/data";
import { ArrowUpRight } from "lucide-astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
---

<Layout title="Home">
  <div class="w-full flex justify-center md:pt-8 flex-col items-center gap-2">
    <div class="md:w-2/3 pt-4 px-4 w-full lg:w-1/2 flex-col">
      <div class="flex gap-4 items-center self-end justify-between">
        <Avatar />
        <div class="flex flex-col gap-2">
          <h1 class="text-fg text-xl md:text-3xl font-bold antialiased">
            Sayanjit
          </h1>
          <h4 class="text-fg3 text-md font-mono md:text-xl antialiased">
            Cake Day : 28 Aug 2005
          </h4>
          <h4 class="text-fg3 text-md font-mono md:text-xl antialiased">
            Javascript <span> | </span> Linux <span> | </span> Python
          </h4>
        </div>
      </div>
      <p class="mt-16 text-[18px] md:text-[20px] text-bright text-fg2">
        Hi there! I'm Sayanjit, and currently I'm pursuing my B.Tech in
        Electronics and Communications Engineering (ECE). I'm also an avid fan
        of movies, motorsports and all things open source!
      </p>
      <p class="mt-4 text-[18px] md:text-[20px] text-bright text-fg2">
        Here are some more useless details about myself:
      </p>
      <ul class="mt-4 text-[18px] md:text-[20px] text-fg3 list-square px-4">
        <li class="font-mono">
          Favourite Movie : 'Inception', directed by Christopher Nolan
        </li>
        <li class="font-mono">
          Favourite Game : 'Hollow Knight', developed by Team Cherry
        </li>
        <li class="font-mono">
          Favourite Album : 'A Thousand Suns', by Linkin Park
        </li>
        <li class="font-mono">Favourite Book : 'Exodus', by Leon Uris</li>
      </ul>
      <hr class="w-full border-bg2 mt-5 md:mt-7" />
      <h2 class="text-fg text-xl md:text-2xl font-bold antialiased mt-10">
        Featured Projects
      </h2>
      <div class="flex md:flex-row flex-col gap-4">
        <Projects projects={project_data} />
      </div>
      <p>
        <a href="/projects" class="text-fg3 hover:text-blue1 text-lg mt-4">
          View all projects <span class="inline-block ml-1"
            ><ArrowUpRight size="1.2em" />
          </span>
        </a>
      </p>
      <hr class="w-full border-bg2 mt-5 md:mt-7" />
      <h2 class="text-fg text-xl md:text-2xl font-bold antialiased mt-10">
        Recent Articles
      </h2>
      {
        allPosts.map((post: any) => (
          <Blogs post={post} url={`/blog/${post.id}/`} />
        ))
      }
       <p>
        <a href="/blogs" class="text-fg3 hover:text-blue1 text-lg mt-4">
          View all <span class="inline-block ml-1"
            ><ArrowUpRight size="1.2em" />
          </span>
        </a>
      </p>
      <hr class="w-full border-bg2 mt-5 md:mt-7" />
    </div>
  </div>
</Layout>
