---
import Layout from "../layouts/layout.astro";
import { all_projects } from "../lib/data";
import ProjectComponent from "../components/Projects.astro";
---

<Layout>
  <div class="w-full flex justify-center md:pt-8 flex-col items-center gap-2">
    <div class="md:w-2/3 pt-4 px-4 w-full lg:w-1/2 flex-col">
      <h1 class="text-fg text-2xl md:text-3xl font-bold antialiased">
        Projects
      </h1>
      <div class="flex md:flex-row flex-col gap-4">
        <ProjectComponent projects={all_projects} />
      </div>
      <hr class="w-full border-bg2 mt-5 md:mt-7 mb-10" />
    </div>
  </div>
</Layout>
