---
---

<div class="rounded-full border-4 border-blue1 h-32 w-32 md:w-56 md:h-56 border-solid">
    <img src="/avatar.jpg" alt="avatar" class="rounded-full h-[120px] w-[120px] md:w-[218px] md:h-[218px]"/>
</div>
