---
---
<!-- <div
  class="prose 
  prose-h1:font-bold prose-h1:text-xl prose-h2:text-fg
  prose-a:text-blue-600 prose-img:rounded-xl prose-p:text-fg2 prose-p:text-lg
  prose-headings:underline mx-auto">
  <slot />
</div> -->

<div class="prose prose-sm prose-stone prose-invert sm:prose-base md:prose-lg antialiased prose-img:rounded-md">
  <slot />
</div>